:root {
  --fontFamilyHeading: 'Baskervville', serif;
  --fontFamilyBody:  Helvetica, Arial, sans-serif !important;
  --linkColor: #8C8C8C;
  --blackColor: #000;
  --whiteColor: #fff;
  --hoverColor: #f68f35;
}
.blacked h2{  
    color: var(--blackColor);
}
#collezioni .cat_wrapper{
  display: grid;
  align-items: center;
  justify-content: center;
}
#collezioni h2{
  text-align: center;
  margin: 4rem 0 3rem;
  font-weight: 600;
}
/******************
 PRODOTTI
*/
#prodotti{
  padding: 3rem 0;
  text-align: center;
}
#prodotti .wrapper{
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap: 1rem;
}
#prodotti .wrapper figure{
  display:block;
}
/* #prodotti_carousel{
  width:100%;  
} */
#prodotti h2{
  margin-bottom: 1rem;
}
#prodotti ul{
  list-style:none;
}
#prodotti li figure{
  width:100%;
}
#prodotti .img_wrapper{
  padding:140% 0 0 0;
}
#prodotti .img_wrapper img{
  height: 100%;
  width: auto;
  max-width: none;
}
#prodotti .img_wrapper.placeholder{
  padding: 40% 0 0 0;
}
#prodotti .img_wrapper.placeholder img{
  height: auto;
}
#prodotti .wrapper_images{
  border-bottom:1px solid #222;
}
#prodotti figcaption h4{
  color: #222;
  font-size: 1.2rem;
  font-weight: bold;
  margin: 1rem 0 0.5rem;
}
#prodotti .price{
    display: block;
    width: 100%;
    margin: 0.5rem 0 0 0;
    color: #222;
    font-weight: bold;
    font-size: 1.1rem;
}
#prodotti .button{
  font-size: 1em;
}
#prodotti figure:hover img{
  height: 105%
}
#prodotti figure:hover .button{
  background-color: #d5d5d5;
  border-color: #d5d5d5;
}
/* #prodotti .carousel-control{
  top: 50%;
  transform: translateY(-50%);
  color: #222;
  width: inherit;
} */
/* 
#prodotti .carousel-control-prev-icon{
  background-image: url('../../../../images/prev-icon.png');
}
#prodotti .carousel-control-next-icon{
  background-image: url('../../../../images/next-icon.png');
} */
.product_category_loop a{
    font-weight: normal;
    font-style: italic;
    color: #222;
    font-size: 0.8rem;
}
#collezioni{
  margin-bottom: 7rem;
}
#collezioni figure{
  width:100%;
  position:relative;
}
#collezioni figure figcaption{
  text-align:center;
}
#collezioni figure h3{
  color: var(--blackColor);
  font-weight: bold;
  font-family: var(--fontFamilyBody) !important;
  font-size: 1.8rem;
  margin: 1.5rem auto 0;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid transparent;
  display: table;
}
#collezioni figure:hover h3{
  border-color:var(--blackColor);
}
#collezioni figure a.btn,
.tax-product_cat .subcat_cta{
  border:1px solid #fff;
  color:#fff;
  font-family: var(--fontFamilyBody) !important;
}
.tax-product_cat .subcat_cta{
    top: 65%;
    background: none
}
.tax-product_cat li:hover .subcat_cta,
#collezioni figure:hover a.btn {
  background:#fff;
  border-color:transparent;
  color:#222;
}
#collezioni figure:hover .cover{
    background: rgba(0, 0, 0, 0.2);
}
#collezioni .img_wrapper{
  padding:56.7% 0 0 0;
  padding:100% 0 0 0;
}
#collezioni .img_wrapper img{
  width:100%;
  height:auto;
  max-width:none;
}
.tax-product_cat li:hover img{
  height:105% !important;
  width:auto;
}

.tax-product_cat .products h2{
  color: var(--blackColor);
  font-family: var(--fontFamilyBody) !important;
  margin: 0.5rem auto !important;
  padding: 0.5rem;
  /* border: 2px solid transparent; */
  /* display: table; */
  font-weight:bold !important;
}
.tax-product_cat .products .product:hover h2{
  /* border-color:var(--blackColor) !important; */
}
.tax-product_cat #main .container .storefront-sorting:last-of-type{
  display:none;
}
#collezioni figure:hover img{
  width:105%;
  height:auto;
}
#kipekee{
    /* background: #f68f35; */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align:center;
    position: relative;
}
#kipekee a{
    display: table;
    width: 100%;
    height: 100%;
}
#kipekee h2{
    margin: 0;
    color: var(--whiteColor);
    font-size: 6rem;
}
#kipekee h2 span{
    display: block;
    font-size: 1.5rem;
    font-family: var(--fontFamilyBody);
    margin-top: 1rem;
}

/*******************
  ABOUT
*/

.blocco_container {
    display: grid;
    align-items: center;
    justify-content: center;
}


.blocco_container>* {
    flex-basis: 50%;
}
.blocco_container .blocco_wrapper {
    padding: 2rem 3rem;
    color: #222;
}
.blocco_container .img_wrapper{
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 100%;
}

footer#colophon{
  background: var(--blackColor);
  color: var(--whiteColor);
  padding: 2rem 0;
  font-family: var(--fontFamilyBody) !important;
}
footer#colophon a{
  font-weight: normal;
  font-family: var(--fontFamilyBody) !important;
  color: var(--whiteColor);
}
footer#colophon a:hover{
  color:var(--hoverColor);
}
footer#colophon h4{
  color: var(--whiteColor);
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 600;
  font-family: var(--fontFamilyBody) !important;
  margin-bottom: 1.5rem;
}
#footer_sections .wrapper{
  display: grid;
  align-items: flex-start;
  justify-content: space-between;
  grid-gap: 1rem;
}
#footer_sections .wrapper p{
  margin-bottom:0;
  line-height: 1.5;
}
#footer_sections .wrapper li{
    line-height: 1.5;
}
.footer__wrapper ul.social{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.footer__wrapper ul.social li{
  padding: 0 1rem 0 0;
}

/********************************
  SLIDING SEARCH MENU
*/
/* The Overlay (background) */
.overlay {
  /* Height & width depends on how you want to reveal the overlay (see JS below) */   
  width: 0;
  height: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  background-color: rgb(0,0,0); /* Black fallback color */
  background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
  position: relative;
  top: 25%; /* 25% from the top */
  width: 100%; /* 100% width */
  text-align: center; /* Centered text/links */
  margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
    overflow:hidden;
}

/* The navigation links inside the overlay */
.overlay a {
  padding: 1rem;
  font-size: 3rem !important;
  color: #fff !important;
  display: block; /* Display block instead of inline */
   /* display: table; 
 justify-content: flex-end;
  display:flex;
  overflow:hidden; */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
  color:yellow !important;
  cursor:pointer;
}

/* Position the close button (top right corner) */
.overlay #closebtn {
  position: absolute;
  top: 50px;
  left: 45px;
  font-size: 60px;
  padding:0;
}

#video{
  padding: 3rem 0;
}

footer .social_wrapper{
      display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 3rem;
}
footer .social_wrapper h4{
    margin: 0 2rem 0 0;
}
footer .social_wrapper ul{
  display: flex;
    align-items: center;
    justify-content: center;
}
footer .social_wrapper ul li{
  padding:0 0.5rem 0 0;
}

#back2Top {
    width: 40px;
    line-height: 40px;
    overflow: hidden;
    z-index: 999;
    display: none;
    cursor: pointer;
    -moz-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    transform: rotate(270deg);
    position: fixed;
    bottom: 50px;
    right: 0;
    background-color: #DDD;
    color: #555;
    text-align: center;
    font-size: 30px;
    text-decoration: none;
}
#back2Top:hover {
    background-color: #DDF;
    color: #222;
}

.page-template-template-fullwidth #primary, .page-template-template-fullwidth #main{
  margin-bottom:0;
}
#form{
  position: relative;
  padding: 5rem;
  margin-top: 4rem;
  text-align:center;
}
#form .cover{
  background: rgba(0, 0, 0, 0.6);
}
.contatti #form{
    padding:0;
}
/* .blocco_container .blocco_wrapper.form_wrapper{
  background: #1d1b26;
  padding: 4rem 3rem 2rem;
} */
#form .container{
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  grid-gap:3rem;
}
#form h3{
  font-size: 5rem;
  margin:0;
  color: var(--whiteColor);
}
#form h4{
  color: var(--whiteColor);
}
.contatti #form h3{
  font-size: 2rem;
}

#form form p{
  margin-bottom:0;
}
#form form label, #form form input:not(.wpcf7-submit),#form form textarea{
    width: 100%;
    background: transparent;
    border-bottom: 1px solid var(--whiteColor);
    box-shadow: none;
    outline:none;
    color: var(--whiteColor);
}
#form form input::-webkit-input-placeholder,#form form textarea::-webkit-input-placeholder { /* Edge */
  color: var(--whiteColor);
}
#form form input:-ms-input-placeholder,#form form textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--whiteColor);
}
#form form input::placeholder,#form form textarea::placeholder {
  color: var(--whiteColor);
}
#form form textarea{
  height:150px;
} 
#form .wpcf7-acceptance .wpcf7-list-item{
  margin:0;
}
#form .wpcf7-acceptance label{
  border:none;
  font-size: 0.9rem;
  line-height: 1.4;
  background: none;
  color: #fff;
  margin-bottom: 1rem;
}
#form .wpcf7-acceptance label a{
  color: #fff;
  font-weight: normal;
  font-size: 0.8rem;
}
#form .wpcf7-acceptance input[type="checkbox"]{
    width: initial;
    margin: 0 0.5rem 0 0;
    position: relative;
    top: 2px;
}
#form input[type="submit"]{
  color: var(--whiteColor);
  text-transform: uppercase;
  font-size: 1.2rem;
  padding-left: 0 !important;
  padding-right: 0 !important;
  background: transparent;
  border-bottom: 1px solid var(--whiteColor);
  box-shadow: none;
  outline:none;
  transition: all ease-in-out 0.2s;
  -webkit-transition: all ease-in-out 0.2s;
  -o-transition: all ease-in-out 0.2s;
  -ms-transition: all ease-in-out 0.2s;
  -moz-transition: all ease-in-out 0.2s;
}
#form input[type="submit"]:hover{
  color: var(--hoverColor);
  border-color: var(--hoverColor);
}

/* .fullWidth h2{
  font-weight: bold;
  text-transform: uppercase;
  font-size:1.5rem;
  color:#222;
} */

.fullWidth h3{
  /* font-weight: bold; */
  text-transform: uppercase;
  /* font-size: 2rem; */
  color:#222;
}
.fullWidth.kipekee h3{
  text-transform:none;
  font-size: 1.5rem;
  margin: 0;
  line-height: 1;
  font-family:var(--fontFamilyBody) !important;
}
/* .fullWidth.kipekee .blocco_container{
  grid-gap: 2rem 0;
} */
.fullWidth.kipekee .blocco_wrapper span{
    font-size: 2rem;
    font-weight: bold;
}
.contatti .blocco_wrapper a{
    color: #222;
    font-weight: normal;
}

#menu-item-215 > a:hover{
  cursor:auto;
}
.btn-group-lg>.btn, .btn-lg {
  padding: .5rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0rem !important;
}
.btn {
border-radius: 0rem !important;
}
#footer_sections .wrapper{
  font-size: 0.9rem;
}

a.certificazione_kipekee{
  color: var(--blackColor);
  display: table;
  margin: 5rem auto 0;
  font-weight: bold;
  font-size: 1.5rem;
  border-top: 3px solid;
  border-bottom: 3px solid;
  padding: 0.5rem 0;
}
a.certificazione_kipekee:hover{
  color: var(--hoverColor);
  padding: 0.5rem 1rem;
}
.tax-product_cat .products li.product .price{
  font-size: 1.1rem;
  color: #000;
}
.tax-product_cat .products li.product a.button{
  background: #222;
  color: #fff;
  font-size: 1rem;
}

.single-product .related.products .img_wrapper{
  padding: 133% 0 0 0;
  margin-bottom: 1rem;
}
.single-product .related.products h2{
  font-weight:bold !important;
  font-size: 1.4rem !important;
  font-family: var(--fontFamilyBody) !important;
}

/** RESPONSIVE **/
@media screen and (min-width: 1441px){


}
@media screen and (max-width: 1440px) and (min-width: 768px){
  /* #video{
      padding: 0rem;
  } */
  .contatti #form h3{
    text-transform:none;
    font-weight:normal;
  }
}
@media screen and (min-width: 1200px){

}
@media screen and (min-width: 1025px){

}
@media screen and (max-width: 1025px){

}
@media screen and (max-width: 768px){

}
@media screen and (min-width: 769px){

}
@media screen and (min-width: 768px){

  section:not(.kipekee) .blocco_container{
    grid-auto-rows: minmax(60vh,auto);
  }
  .tax-product_cat .products h2{
    font-size: 1.8rem !important;
  }
  .tax-product_cat .products li.product h2{
    font-size: 1.4rem !important;
  }
  .page-id-2 #content > .col-full{
    padding-right:0;
  }
  #form input[type="submit"]{
    padding: 1rem 2rem;
  }
  .tax-product_cat .products li.product .price{
    font-weight: bold;
  }
  .contatti #form .container{
    grid-template-columns: repeat(1, 1fr);
  }
    .blocco_container .blocco_wrapper {
    padding: 2rem 3rem;
    font-size: 1.2rem;
    line-height: 1.4;
  }
  .blocco_container {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 4rem 0;
  }
  .contatti .blocco_container {
    align-items: flex-start;
  }
  #kipekee .cover{
   background: rgba(0, 0, 0, 0.2); 
  }
  #kipekee .img_wrapper{
    height: 60vh;
}
  #prodotti .wrapper{
    grid-template-columns: repeat(5,1fr);
  }
  #prodotti h2 {
    margin: 2rem 0 3rem;
    font-weight: 600;
  }

  #collezioni .cat_wrapper{
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2rem;
  }
  footer#colophon{
    padding: 5rem 0;
    line-height: 2;
    padding: 2rem 0;
  }
  #footer_sections .wrapper{
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
  }
  .site-footer h1, .site-footer h2, .site-footer h3, .site-footer h4, .site-footer h5, .site-footer h6, .site-footer .widget .widget-title, .site-footer .widget .widgettitle {
   color: #222;
  }
  form .wrapper{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 1rem;
  }
}
/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 1) {

}
/* Landscape */
@media only screen
  and (min-device-width: 768px)
  and (max-device-width: 1024px)
  and (orientation: landscape)
  and (-webkit-min-device-pixel-ratio: 2) {

}
/* iPad 1-4 e Mini Portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait){
  #kipekee .img_wrapper {
      height: 35vh;
  }
}
/* Retina iPad in portrait */
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : portrait)
and (-webkit-min-device-pixel-ratio: 2){
  #kipekee .img_wrapper {
      height: 35vh;
  }
}

/*Portrait and landscape iPad Pro*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) {
}
/*Portrait iPad Pro*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #kipekee .img_wrapper {
      height: 35vh;
  }
}
/*Landscape iPad Pro*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {

}



@media (max-width: 767px){
  #searchMenu.openSearch{
    width:100% !important;
  }
  .fullWidth.kipekee h3{
    font-size:1.2rem;
  }
  a.certificazione_kipekee{
    font-size:1.1rem;
  }
  .fullWidth #main_content {
    padding: 3rem 0;
  }
  .fullWidth #main_content h2 {
    margin-bottom: 2rem;
  }
  .fullWidth #main_content .wrapper{
    padding: 0 1rem;
    text-align: left;
    font-size: 1rem;
  }
  .blocco_container{
    grid-gap:2rem;
  }
  .blocco_container .img_wrapper{
    height: 30vh
  }
  #form{
    padding: 2rem 0rem;
  }
  #form h3{
    font-size: 3rem;
    margin: 0 0 1rem;
  }
  #form h4{
    margin:0;
  }
  #prodotti .wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  #collezioni {
    margin-bottom: 3rem;
  }
  #collezioni .cat_wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  #footer_sections .wrapper{
    grid-template-columns: repeat(1,1fr);
  }
  #form .container{
    grid-template-columns: repeat(1, 1fr);
  }
  .contatti .blocco_container {
    grid-template-columns: repeat(1, 1fr);
  }
  #collezioni .img_wrapper{
    padding: 60% 0 0 0;
  }
  .storefront-primary-navigation .main-navigation ul.menu{
    padding: 1rem 0;
    text-transform:uppercase;
  }
  .storefront-primary-navigation .main-navigation ul li a{
    padding: 0.7rem 0 0.5rem;
    font-size: 0.8rem;
    border-bottom: 1px solid #ccc;
  }
  .storefront-primary-navigation .main-navigation ul li:last-of-type a{
    border-bottom:none;
  }
  .storefront-primary-navigation .main-navigation ul li ul{
    padding-left:1rem !important;
  }
  .handheld-navigation ul.menu li button{
    outline:none !important;
    padding: 0.23em 1rem 0 !important;
  }
  .handheld-navigation ul.menu li button::after{
    content:'' !important;
  }
  .related.products ul.products{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
  }
  .related.products ul.products:before{
    display:none;
  }
  .related.products ul.products li{
    margin-bottom:0 !important;
  }
  .related.products ul.products li h2{
    font-size:1rem !important;
  }
  .related.products ul.products li a.button{
    font-size: 0.8rem;
    width: 100%;
  }
  #prodotti {
    padding: 3rem 0.5rem;
  }
  .single-product .woocommerce-tabs .panel h2:first-of-type{
    margin-top: 1.5rem;
  }
}
/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
  .overlay a {font-size: 20px}
  .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}


/***** SVG ****/

.custom-shape-divider-video-top,
.custom-shape-divider-kipekee-top{
  transform: rotate(180deg);
}
.custom-shape-divider-kipekee-top{
  margin-top: -10rem;
}
.custom-shape-divider-kipekee-top .shape-fill {
    fill: #f68f35;
}

.custom-shape-divider-kipekee-top svg,
.custom-shape-divider-video-top svg {
    position: relative;
    display: block;
    width: calc(178% + 1.3px);
    height: 184px;
}

.custom-shape-divider-video-top .shape-fill {
    fill: #1D1B26;
}

.custom-shape-divider-video-bottom svg {
    position: relative;
    display: block;
    width: calc(178% + 1.3px);
    height: 184px;
}

.custom-shape-divider-video-bottom .shape-fill {
    fill: #1d1b26;
}